<div *ngIf="isVisible" class="mx-auto w-150 min-h bg-gray-200 mt-40 font-serif rounded-2xl opacity-95">
    <form [formGroup]="formBinding" class="p-4 flex flex-col gap-6 items-center">
        <h1 class="text-3xl  opacity-70 font-semibold p-2 ">Sign up</h1>
        <div class="flex justify-between gap-4">
            <div class="flex flex-col relative">
                <input formControlName="firstname" name="firstname" type="text" id="username" placeholder=" "
                    class="peer w-60  border px-2 py-2 rounded-lg">
                <label for="username"
                    class="absolute top-2 left-3 font-semibold text-zinc-600
           peer-focus:-top-2 peer-focus:text-sm peer-focus:bg-gray-200
           peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-sm peer-not-placeholder-shown:bg-gray-200 ">FirstName</label>
                <div
                    *ngIf="formBinding.get('firstname')?.touched &&  formBinding.get('firstname')?.errors?.['required']">
                    <h1 class="text-red-600 text-xs relative ">* FirstName is required</h1>
                </div>
            </div>
            <div class="flex flex-col relative">
                <input formControlName="lastname" name="lastname" id="lastname" type="text" placeholder=" "
                    class="peer w-60 border px-2 py-2 rounded-lg">
                <label for="lastname"
                    class="absolute top-2 left-3 font-semibold text-zinc-600
            peer-focus:-top-2 peer-focus:text-sm peer-focus:bg-gray-200
            peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-sm peer-not-placeholder-shown:bg-gray-200">LastName</label>
                <div *ngIf="formBinding.get('lastname')?.touched &&  formBinding.get('lastname')?.errors?.['required']">
                    <h1 class="text-red-600 text-xs relative ">* LastName is required</h1>
                </div>
            </div>
        </div>
        <div class="flex flex-col relative">
            <input formControlName="email" name="email" id="email" type="email" placeholder=" "
                class="peer w-125 border px-2 py-2 rounded-lg">
            <label for="email"
                class="absolute top-2 left-3 font-semibold text-zinc-600
            peer-focus:-top-2 peer-focus:bg-gray-200 peer-focus:text-sm
            peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-sm peer-not-placeholder-shown:bg-gray-200">Email
                Id</label>
            <div *ngIf="formBinding.get('email')?.touched &&  formBinding.get('email')?.errors?.['required']">
                <h1 class="text-red-600 text-xs relative ">* Email Id is required</h1>
            </div>
        </div>
        <div class="flex flex-col relative">
            <input formControlName="password" name="password" id="password" type="password" placeholder=" "
                class="peer w-125 border px-2 py-2 rounded-lg">
            <label for="password"
                class="absolute top-2 left-3 font-semibold text-zinc-600
            peer-focus:-top-2 peer-focus:bg-gray-200 peer-focus:text-sm
            peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-sm peer-not-placeholder-shown:bg-gray-200">Password</label>
            <div *ngIf="formBinding.get('password')?.touched &&  formBinding.get('password')?.errors?.['required']">
                <h1 class="text-red-600 text-xs relative ">* Password is required</h1>
            </div>
            <div *ngIf="formBinding.get('password')?.touched &&  formBinding.get('password')?.errors?.['minlength']">
                <h1 class="text-red-600 text-xs relative ">* Minimum 6 characters required</h1>
            </div>
        </div>
        <div class="flex flex-col items-center gap-1">
            <input type="button" value="sign up" (click)="PostData()"
                class="border w-50 rounded-lg text-lg text-white opacity-85 bg-blue-700 py-2 cursor-pointer hover:opacity-100 px-2 mt-1 cursor">
            <span class="mb-6 font-semibold opacity-80 hover:opacity-100">Already has an account? <a (click)="toggle()" routerLink="login" class="underline text-blue-500 cursor-pointer">sign in</a></span>
        </div>
    </form>
</div>
<router-outlet></router-outlet>